body {
    background: black;
    color: whitesmoke;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid whitesmoke;
}

body {
    margin: 0px;
}

#preloader {
    font-family: 'Press Start 2P';
    opacity:0;
    height:0;
    width:0;
    display:inline-block;
}