body {
    background: #444444;
    margin: 0;
}

div {
    position: fixed;
    width: 97%;
    height: 97%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

canvas, canvas:focus {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px 3px #222222;
    outline: none;
}

.github-link {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
